@import url('https://fonts.googleapis.com/css?family=Roboto:400');


.buttonneutralhover {
  width               : 100%;
  min-width           : 118px;
  height              : 100vh;
  min-height          : 32px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
  opacity             : 1.0;
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.buttonneutralhover .buttonneutraldisabledcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 32px;
  width               : 118px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.buttonneutralhover .buttonneutraldisabledcopy .button {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 32px;
  width               : 118px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.buttonneutralhover .buttonneutraldisabledcopy .button .button1 {
  background-color    : rgba(244, 246, 249, 1.0);
  top                 : 0px;
  height              : 32px;
  box-sizing          : border-box;
  width               : 118px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 4px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(216, 221, 230, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.buttonneutralhover .buttonneutraldisabledcopy .button .buttonneutral {
  background-color    : rgba(255,255,255,0.0);
  top                 : 8px;
  height              : auto;
  width               : 118px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 13.0px;
  color               : rgba(0, 39, 76, 1.0);
  text-align          : center;
  line-height         : 15.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events      : none;
}
.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events      : auto;
}
.anima-hidden,
.anima-hidden * {
  visibility          : hidden;
  pointer-events      : none;
}
.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events      : auto;
  visibility          : visible;
}
.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility          : hidden !important;
}
.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor              : pointer;
}